spring.application.name=shelfsmart-backend
server.port=8080

# Placeholder for NeonDB config (we'll update this soon)
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# PostgreSQL Configuration
spring.datasource.url=jdbc:postgresql://ep-rapid-glade-a5o9pdez-pooler.us-east-2.aws.neon.tech/shelfsmart
spring.datasource.username=shelfsmart_owner
spring.datasource.password=npg_fXkOcisyuQ40
spring.datasource.driver-class-name=org.postgresql.Driver

#Gemini API
Add Gemini Key

# Hibernate dialect (needed for PostgreSQL)
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Disable H2 (if not needed)
spring.h2.console.enabled=false
